body{
    background-color: bisque;
    color: rgb(141, 103, 52);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

h1{
    color: rgb(99, 19, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    font-size: 50px;
    margin: 100px;
}