
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #140b04, #381e0c);
    color: #f5f1ec;
    font-family: 'Inter', sans-serif;
    padding: 40px;
}

.bar {
    background: #f5f1ec;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 100%;
}

.bar .logo {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #000;
    margin-left: 40px;
    margin-right: 163vh;
}

.botoes {
    padding: 8px 16px;
    border-radius: 999px;
    background: #ddd7cf;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.botoes:hover {
    background: #cfc7bd;
}

.content {
    margin-top: 100px;
}

.intro {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0 40px;
}

.nome {
    font-family: 'Playfair Display', serif;
    font-size: 150px;
    font-style: italic;
    line-height: 1.1;
    color: rgb(158, 12, 12);
}

.sobre {
    margin-top: 200px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    text-align: center;
}

.sobre h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 8px;
}

.sobre p {
    font-size: 20px;
    color: #cfcac4;
}

.hero {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
  padding: 20px 500px;
  background: radial-gradient(circle at center, #daa520, #796249 );
  border-radius: 10vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.imagem-circular {
  width: 400px; /* Tamanho do círculo */
  height: 400px;
  border-radius: 50%; /* Torna circular */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(158, 12, 12);
  border: 5px solid rgba(158, 12, 12, 0.527);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  position: relative;
}

.imagem-circular img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  transition: transform 0.6s ease;
  border-radius: 50%; 
}

.imagem-circular:hover {
  transform: scale(1.01); 
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6); 
  border-color: rgb(158, 12, 12);
}

.imagem-circular:hover img {
  transform: scale(1.2); 
}

html {
  scroll-behavior: smooth;
}
