body{
    background-color: bisque;
    color: rgb(141, 103, 52);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1{
    color: rgb(71, 21, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}